<div>
		<svg xmlns="http://www.w3.org/2000/svg" 
		     width="350" height="100">
		     <g ng-repeat="skill in skillsController.skills">
		     	<circle cx="{{skillsController.radius + ($index)*(2*skillsController.radius + skillsController.gutter)}}" cy="50" r="40" stroke="green" stroke-width="4" fill-opacity="0" ng-if="skill.expertiseLevel < 8"></circle>
		     	<circle cx="{{skillsController.radius + ($index)*(2*skillsController.radius + skillsController.gutter)}}" cy="50" r="40" stroke="green" stroke-width="6" fill-opacity="0" ng-if="skill.expertise==='advanced'"></circle>
		   		<circle cx="{{skillsController.radius + ($index)*(2*skillsController.radius + skillsController.gutter)}}" cy="50" r="35" stroke="green" stroke-width="4" fill-opacity="0" ng-if="skill.expertise==='intermediate'"></circle>
		   		<circle cx="{{skillsController.radius + ($index)*(2*skillsController.radius + skillsController.gutter)}}" cy="50" r="35" stroke="green" stroke-width="8" fill-opacity="0" ng-if="skill.expertise==='expert'"></circle>
		   	</g>
		</svg>
</div>
